<div class="main-content-wrap sidenav-open d-flex flex-column">
    <!-- ============ Body content start ============= -->
    <div class="main-content">
        <div class="breadcrumb">
            <h1>Structure</h1>
            <ul class="separator-li">
                <li>
                    <h5>Liste des artices</h5>
                </li>
            </ul>
        </div>

        <!-- end of row-->
        <div class="row mb-4">

            <div class="col-md-12 mb-4">
                <div class="row mainheader">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class=" search-bar">
                            <i class="search-icon text-muted i-Magnifi-Glass1"></i>
                            <input type="text" placeholder="Search...">

                        </div>
                        <div><button class="btn btn-primary m-1" type="button" data-toggle="modal" data-target="#exampleModal"> <i
                                    class="nav-icon i-Add font-weight-bold"></i>Nouveau</button></div>

                    </div>
                </div>
                <div class="card text-left">

                    <div class=" table-responsive">
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Intitulé</th>
                                    <th scope="col">Réference</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let artic of listArticles">
                                    <td scope="col">{{artic.intitule}}</td>
                                    <td scope="col">{{artic.reference}}</td>
                                    <td scope="col">
                                        <li class="status1" *ngIf="artic.articleliaison!=null">Lié</li>
                                        <li class="status2" *ngIf="artic.articleliaison==null">Non Lié</li>
                                    </td>
                                    <td scope="col" class="action">
                                        <a class="text-success mr-2"><i
                                                class="nav-icon fa fa-edit font-weight-bold" (click)="edit(artic)"></i></a>
                                        <a class="text-danger mr-2" data-toggle="modal" data-target="#verifyModalContent1" data-whatever="@mdo"><i
                                                class="nav-icon fa fa-trash-o font-weight-bold"></i></a>
                                    </td>
                                    <!--  Modal delete article-->
                                    <div class="modal fade" id="verifyModalContent1" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="verifyModalContent_title">Alert de suppression
                                                    </h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-md">
                                                        <h5>Voulez-vous vraiment supprimer cet article ?</h5>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
                                                    <button class="btn btn-primary" (click)="delete(artic.cbmarq)" type="button">Oui</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end modal delete article-->




                                </tr>
                            </tbody>
                        </table>
                        <!--  Modal add article-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nouvel Article</h5>
                                    </div>
                                    <form [formGroup]="articleForm" (submit)="onSubmit()" class=" col-md-11">

                                        <div class="modal-body">

                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="intitule">Intitulé</label>
                                                <div class="col-sm-9"><input class="form-control" formControlName="intitule" class="form-control" placeholder="ex: John" type="text"></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="type">Type</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="type" formControlName="type">
                                                        <option selected [value]="0" class="placeholder-selcet">Normal
                                                        </option>
                                                        <option [value]="1"> Ramassage</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row" *ngIf="show"><label class="col-sm-3 col-form-label" for="inputPassword3">Liés</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" formControlName="articleliaison">
                                                        <option id="select-id" class="placeholder-selcet" disabled
                                                            value=""> select l'article lié</option>
                                                        <option [value]="art.cbmarq"
                                                            *ngFor="let art of articleRamassage">{{art.intitule}}
                                                        </option>


                                                    </select>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary ml-2" type="submit">Valider</button>
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end modal add article-->

                        <!--  Modal -->
                        <div class="col-md footer-table">
                            <div class="form-group row"><label class="afficher col-form-label" for="inputPassword3">Afficher</label>
                                <div class="">
                                    <select class="form-control" (change)="onchange($event)" id="exampleFormControlSelect1">
                                        <option class="placeholder-selcet">5</option>
                                        <option selected> 10</option>
                                        <option>15</option>
                                        <option>20</option>
                                    </select>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Précedente</a></li>

                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" (click)="next()">Suivante</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <!-- end of row-->
        <!-- end of main-content -->
    </div>

</div>