.status2 {
    color: #cc1717;
}

.text-danger {
    font-weight: bold;
}

.status1 {
    color: green;
}

.status1::marker {
    content: "•";
    color: green;
    font-size: 17px;
}

.status2::marker {
    content: "•";
    color: #cc1717;
    font-size: 17px;
}