<div class="main-content-wrap sidenav-open d-flex flex-column">
    <!-- ============ Body content start ============= -->
    <div class="main-content">
        <div class="breadcrumb">
            <h1>Structure</h1>
            <ul class="separator-li">
                <li>
                    <h5>Tarification</h5>
                </li>
            </ul>
        </div>

        <!-- end of row breadcrumb -->
        <div class="row mb-4">

            <div class="col-md-12 mb-4">
                <div class="row mainheader">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class=" search-bar">
                            <i class="search-icon text-muted i-Magnifi-Glass1"></i>
                            <input type="text" placeholder="Search...">

                        </div>
                        <div><button class="btn btn-primary m-1" type="button" data-toggle="modal" data-target="#exampleModal"> <i
                                    class="nav-icon i-Add font-weight-bold"></i>Nouveau</button></div>

                    </div>
                </div>
                <div class="card text-left">

                    <div class=" table-responsive">
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Intitulé</th>
                                    <th scope="col">Catégorie Client</th>
                                    <th scope="col">Prix U</th>
                                    <th scope="col">Remise</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nom Article 1</td>
                                    <td>Gold</td>
                                    <td>10.500</td>
                                    <td>10%</td>
                                    <td class="action"><a class="text-success mr-2" href="#"><i
                                                class="nav-icon fa fa-edit font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i
                                                class="nav-icon fa fa-trash-o font-weight-bold"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Nom Article 2</td>
                                    <td>Silver</td>
                                    <td>12.000</td>
                                    <td>8%</td>
                                    <td class="action"><a class="text-success mr-2" href="#"><i
                                                class="nav-icon fa fa-edit font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i
                                                class="nav-icon fa fa-trash-o font-weight-bold"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Nom Article 3</td>
                                    <td>Platinium</td>
                                    <td>9.500</td>
                                    <td>15%</td>
                                    <td class="action"><a class="text-success mr-2" href="#"><i
                                                class="nav-icon fa fa-edit font-weight-bold"></i></a><a class="text-danger mr-2" href="#"><i
                                                class="nav-icon fa fa-trash-o font-weight-bold"></i></a></td>
                                </tr>
                            </tbody>



                        </table>
                        <!--  Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nouvelle Tarification</h5>
                                    </div>
                                    <div class="modal-body">

                                        <form novalidate="" class=" col-md-11">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Intitulé</label>
                                                <div class="col-sm-9"><input class="form-control" id="inputEmail3" placeholder="ex: John" type="email"></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputPassword3">Catégorie Client</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option disabled value="" class="placeholder-selcet">Gold
                                                        </option>
                                                        <option>Silver</option>
                                                        <option>platinium</option>
                                                        <option>Bronse</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputPassword3">Prix U</label>
                                                <div class="col-sm-9"><input class="form-control" id="inputPassword3" placeholder="ex: Doe" type="password"></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputPassword3">Remise</label>
                                                <div class="col-sm-9"><input class="form-control" id="inputPassword3" placeholder="ex: Doe" type="password"></div>
                                            </div>


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary ml-2" type="button">Valider</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                        <div class="col-md footer-table">
                            <div class="form-group row"><label class="afficher col-form-label" for="inputPassword3">Afficher</label>
                                <div class="">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option  value="" class="placeholder-selcet">10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>30</option>
                                    </select>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Précedente</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Suivante</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <!-- end of row-->
        <!-- end of main-content -->
    </div>

</div>