<div class="app-admin-wrap layout-sidebar-large">
    <div class="main-header">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="">
        </div>
        <div class="menu-toggle">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="d-flex align-items-center">

            <div class="search-bar">
                <input type="text" placeholder="Search">
                <i class="search-icon text-muted i-Magnifi-Glass1"></i>
            </div>
        </div>
        <div style="margin: auto"></div>
        <div class="header-part-right">
            <!-- Notificaiton -->
            <div class="dropdown">
                <div class="badge-top-container" role="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-primary">3</span>
                    <i class="i-Gear text-muted header-icon dropdown-toggle"></i>
                </div>
                <!-- Notification dropdown -->
                <div class="dropdown-menu dropdown-menu-right notification-dropdown rtl-ps-none" aria-labelledby="dropdownNotification" data-perfect-scrollbar data-suppress-scroll-x="true">
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Speach-Bubble-6 text-primary mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>New message</span>
                                <span class="badge badge-pill badge-primary ml-1 mr-1">new</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">10 sec ago</span>
                            </p>
                            <p class="text-small text-muted m-0">James: Hey! are you busy?</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Receipt-3 text-success mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>New order received</span>
                                <span class="badge badge-pill badge-success ml-1 mr-1">new</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">2 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">1 Headphone, 3 iPhone x</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Empty-Box text-danger mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>Product out of stock</span>
                                <span class="badge badge-pill badge-danger ml-1 mr-1">3</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">10 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">Headphone E67, R98, XL90, Q77</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Data-Power text-success mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>Server Up!</span>
                                <span class="badge badge-pill badge-success ml-1 mr-1">3</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">14 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">Server rebooted successfully</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end Notification -->

            <!-- User avatar dropdown -->
            <div class="dropdown">
                <div class="user col align-self-end">
                    <img src="../../assets/images/faces/1.jpg" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <div class="dropdown-header">
                            <i class="i-Lock-User mr-1"></i> Timothy Carlson
                        </div>
                        <a class="dropdown-item">Account settings</a>
                        <a class="dropdown-item">Billing history</a>
                        <a class="dropdown-item" href="signin.html">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-content-wrap">
        <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
            <ul class="navigation-left">
                <li class="nav-item"><a class="nav-item-hold" href="dashboard"><i class="nav-icon i-Bar-Chart"></i><span
              class="nav-text">Dashboard</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="clients"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Administrator"></i><span class="nav-text">Clients</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="structure"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Windows-2"></i><span class="nav-text">Structure</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="structure"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-File-Horizontal-Text"></i><span class="nav-text">Commande &
              Devis</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="factures"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-File-Clipboard-File--Text"></i><span class="nav-text">Factures</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="charts"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Truck"></i><span class="nav-text">Gestion de Parc</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="forms"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Mens"></i><span class="nav-text">Collaborateur</span></a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-item-hold" href="#"><img src="../../../assets/images/trustdelevery.png"></a>
                </li>
                <!-- 
        <li class="nav-item" data-item="sessions"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Administrator"></i><span class="nav-text">Sessions</span></a>
          <div class="triangle"></div>
        </li>
        <li class="nav-item active" data-item="others"><a class="nav-item-hold" href="#"><i
              class="nav-icon i-Double-Tap"></i><span class="nav-text">Others</span></a>
          <div class="triangle"></div>
        </li>
        <li class="nav-item"><a class="nav-item-hold" href="http://demos.ui-lib.com/gull-html-doc/" target="_blank"><i
              class="nav-icon i-Safe-Box1"></i><span class="nav-text">Doc</span></a>
          <div class="triangle"></div>
        </li> -->
            </ul>
        </div>
        <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
            <!-- Submenu Dashboards-->

            <ul class="childNav" data-parent="forms">
                <li class="nav-item"><a href="form.basic.html"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span
              class="item-name">Liste Collaborateurs</span></a></li>
                <li class="nav-item"><a href="form.layouts.html"><i class="nav-icon i-Split-Vertical"></i><span
              class="item-name">Droit d'accès</span></a></li>
                <li class="nav-item"><a href="form.input.group.html"><i class="nav-icon i-Receipt-4"></i><span
              class="item-name">Planification</span></a></li>
            </ul>
            <ul class="childNav" data-parent="apps">
                <li class="nav-item"><a href="invoice.html"><i class="nav-icon i-Add-File"></i><span
              class="item-name">Invoice</span></a></li>
                <li class="nav-item"><a href="inbox.html"><i class="nav-icon i-Email"></i><span
              class="item-name">Inbox</span></a></li>
                <li class="nav-item"><a href="chat.html"><i class="nav-icon i-Speach-Bubble-3"></i><span
              class="item-name">Chat</span></a></li>
            </ul>
            <ul class="childNav" data-parent="factures">
                <li class="nav-item"><a href="widget-card.html"><i class="nav-icon i-File-Edit"></i><span
              class="item-name">Factures</span></a></li>
                <li class="nav-item"><a href="widget-statistics.html"><i class="nav-icon i-Receipt"></i><span
              class="item-name">Bordereaux</span></a></li>
                <li class="nav-item"><a href="widget-list.html"><i class="nav-icon i-Receipt-4"></i><span
              class="item-name">Réglements </span></a></li>

            </ul>
            <!-- chartjs-->
            <ul class="childNav" data-parent="charts">
                <li class="nav-item"><a href="charts.echarts.html"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span
              class="item-name">Véhicules</span></a></li>
                <li class="nav-item"><a href="charts.chartsjs.html"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span
              class="item-name">Consommation</span></a></li>
                <li class="nav-item dropdown-sidemenu"><a href="#"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span
              class="item-name">Suivi</span><i class="dd-arrow i-Arrow-Down"></i></a>
                    <ul class="submenu">
                        <li><a href="charts.apexAreaCharts.html">Area Charts</a></li>
                        <li><a href="charts.apexBarCharts.html">Bar Charts</a></li>
                        <li><a href="charts.apexBubbleCharts.html">Bubble Charts</a></li>
                        <li><a href="charts.apexColumnCharts.html">Column Charts</a></li>
                        <li><a href="charts.apexCandleStickCharts.html">CandleStick Charts</a></li>
                        <li><a href="charts.apexLineCharts.html">Line Charts</a></li>
                        <li><a href="charts.apexMixCharts.html">Mix Charts</a></li>
                        <li><a href="charts.apexPieDonutCharts.html">PieDonut Charts</a></li>
                        <li><a href="charts.apexRadarCharts.html">Radar Charts</a></li>
                        <li><a href="charts.apexRadialBarCharts.html">RadialBar Charts</a></li>
                        <li><a href="charts.apexScatterCharts.html">Scatter Charts</a></li>
                        <li><a href="charts.apexSparklineCharts.html">Sparkline Charts</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="childNav" data-parent="structure">
                <li class="nav-item"><a href="articles"><i class="nav-icon i-Split-Horizontal"></i><span class="item-name">Articles</span></a></li>
                <li class="nav-item"><a href="tarification"><i class="nav-icon i-Dollar-Sign"></i><span  class="item-name">Tarification</span></a></li>
                <li class="nav-item"><a href="depot"><i class="nav-icon i-Map-Marker"></i><span class="item-name">Depôt</span></a></li>
                <li class="nav-item"><a href="zone"><i class="nav-icon i-Map-Marker"></i><span class="item-name">zone</span></a></li>

            </ul>
            <ul class="childNav" data-parent="clients">
                <li class="nav-item"><a href="alerts.html"><i class="nav-icon i-Add-User"></i><span class="item-name">Liste
              Clients </span></a></li>
                <li class="nav-item"><a href="accordion.html"><i class="nav-icon i-Checked-User"></i><span
              class="item-name">Catégorie Clients</span></a></li>
            </ul>


        </div>
        <div class="sidebar-overlay"></div>
    </div>
    <!-- =============== Left side End ================-->

    <!-- Content-->

    <!--end content-->
</div>
<!-- ============ Search UI Start ============= -->
<div class="search-ui">
    <div class="search-header">
        <img src="../../assets/images/logo.png" alt="" class="logo">
        <button class="search-close btn btn-icon bg-transparent float-right mt-2">
      <i class="i-Close-Window text-22 text-muted"></i>
    </button>
    </div>
    <input type="text" placeholder="Type here" class="search-input" autofocus>
    <div class="search-title">
        <span class="text-muted">Search results</span>
    </div>
    <div class="search-results list-horizontal">
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="../../assets/images/products/headphone-1.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="#" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">$300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-danger">Sale</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="../../assets/images/products/headphone-2.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="#" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">$300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="../../assets/images/products/headphone-3.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="#" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">$300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="../../assets/images/products/headphone-4.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="#" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">$300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-5 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-inline-flex">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>