<form [formGroup]="editForm" (submit)="onSubmitEdit()" class=" col-md-11">
    <div class="modal-body">
        <div class="form-group row"><label class="col-sm-3 col-form-label" for="intitule">Intitulé</label>
            <div class="col-sm-9"><input class="form-control" formControlName="intitule" placeholder="ex: John" type="text"></div>
        </div>
        <div class="form-group row"><label class="col-sm-3 col-form-label" for="type">Type</label>
            <div class="col-sm-9">
                <select class="form-control" id="type" formControlName="type" ngModel="type">
                                                                <option [value]="0" 
                                                                    class="placeholder-selcet">Normal
                                                                </option>
                                                                <option [value]="1">
                                                                    Ramassage</option>
                                                            </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="show"><label class="col-sm-3 col-form-label" for="articleliaison">lié</label>
            <div class="col-sm-9">
                <select class="form-control" formControlName="articleliaison">
                                                                
                                                                <option value="{{art.cbmarq}}"
                                                                    *ngFor="let art of articleRamassage">
                                                                    {{art?.intitule}}
                                                                </option>
                                                            </select>
            </div>

        </div>
    </div>
    <button type="submit"> Editer</button>
</form>