<app-header></app-header>
<router-outlet></router-outlet>

<div class="main-content">

    <!-- Footer Start -->
    <!--  <div class="flex-grow-1"></div>
    <div class="app-footer">
        <div class="row">
            <div class="col-md-9">
                <p><strong>Gull - Laravel + Bootstrap 4 admin template</strong></p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero quis beatae officia saepe perferendis voluptatum minima eveniet voluptates dolorum, temporibus nisi maxime nesciunt totam repudiandae commodi sequi dolor quibusdam
                </p>
            </div>
        </div>
        <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
            <a class="btn btn-primary text-white btn-rounded" href="https://themeforest.net/item/gull-bootstrap-laravel-admin-dashboard-template/23101970" target="_blank">Buy Gull HTML</a>
            <span class="flex-grow-1"></span>
            <div class="d-flex align-items-center">
                <img class="logo" src="../../dist-assets/images/logo.png" alt="">
                <div>
                    <p class="m-0">&copy; 2018 Gull HTML</p>
                    <p class="m-0">All rights reserved</p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- fotter end -->

</div>