.row-cordonnee {
    padding-right: 9px;
}

.fa-map-marker {
    color: gray;
    font-size: 18px;
}

.col-sm-1 {
    max-width: 7%;
    padding-left: 9px;
}

agm-map {
    height: 600px !important;
    width: 100%;
}

.map-card {
    margin: 30px 0px;
}