    /* You can add global styles to this file, and also import other style files */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #102758;
    }
    
    .fa {
        display: block;
    }
    
    .text-success,
    .text-danger {
        font-size: 20px;
    }
    
    .table thead {
        border: none;
        background-color: #F5F6FA;
    }
    
    .table tbody tr td {
        padding-left: 45px;
    }
    
    .table thead th {
        font-size: 15px;
        padding-left: 45px;
        vertical-align: bottom;
        border-bottom: none;
        background-color: #F5F6FA;
    }
    
    .action {
        display: flex;
        //justify-content: center;
    }
    
    .separator-li>li {
        border-left: 1px solid #102758;
        height: 15px;
        margin-left: 20px;
    }
    
    .footer-table {
        display: flex;
        justify-content: space-between;
    }
    
    .breadcrumb ul li {
        display: inline-block;
        position: relative;
        padding: 0px 1.5rem;
        line-height: 1;
        vertical-align: bottom;
        color: #70657b;
    }
    
    .m-1 {
        background-color: --blue;
        margin-left: 20px !important;
    }
    
    .fa-edit {
        font-size: 22px;
    }
    
    nav {
        float: right;
    }
    
    .mainheader {
        box-shadow: none;
    }
    
    .mainheader {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 80px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #fff;
        z-index: 100;
    }
    
    .mainheader .search-bar {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: left;
        border: 1px solid #eee;
        border-radius: 5px;
        position: relative;
        width: 100% !important;
        height: 35px;
    }
    
    .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .i-Add {
        padding-right: 5px;
    }
    
    .mainheader .search-bar input {
        background: transparent;
        border: 0;
        color: #212121;
        font-size: .8rem;
        line-height: 2;
        outline: initial !important;
        padding: .5rem 1rem;
    }
    
    .form-control::placeholder,
    .placeholder-selcet {
        color: #5d6c8e;
        font-size: 12px;
        font-style: italic;
    }
    
    label {
        font-weight: bold;
        font-size: 14px;
    }
    
    form {
        margin-right: auto;
        margin-left: auto;
    }
    
    .col-form-label {
        padding-right: 0px;
    }
    
    .modal-footer {
        border-top: none !important;
        margin-right: auto;
        margin-left: auto;
    }
    
    .modal-footer>.btn-primary {
        margin: 20px;
    }
    
    .mainheader .search-bar .search-icon {
        padding-left: 10px;
        padding-bottom: 4px;
        font-size: 18px;
        width: 20px;
        display: inline-block;
    }
    
    .agm-map-container-inner {
        border-radius: 10px;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
